* {
    font-family: 'Roboto';
}

/* GENERAL */
body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

/* HEADER */
header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.btn.btn-primary {
    background-color: #f2a340;
    border: 1px solid #c28008;
}

.btn.btn-primary:hover {
    background-color: #c28008;
    border: 1px solid #c28008;
}

.msg {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
    width: 100%;
}

/* FORM CREATE EVENTS */
#event-create-container {
    padding: 30px;
}

#event-create-container .form-group > label {
    font-weight: bold;
}

#event-create-container input,
#event-create-container select,    
#event-create-container textarea {
    font-size: 14px;
}

/* NAVBAR */
#navbar {
    justify-content: space-between;
    background-color: #fff;
    padding: 5px 0;
}

#navbar img {
  width: 50px;
}

#navbar a {
    font-size: 14px;
    color: #757575;
    transition: .3s;
}

#navbar a:hover {
    color: #f2a340;
}

/* SEARCH CONTAINER */
#search-container {
    background-image: url('../img/banner.jpg');
    /* opacity: .9; */
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#search-container h1 {
    color: #f2a340;
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form {
    width: 50%;
    margin: 0 auto;
}

/* EVENTS LIST */
#events-container {
    padding: 50px;
}

#events-container h2 {
    margin-bottom: 10px;
}

#events-container .subtitle {
    color: #757575;
    margin-bottom: 30px;
}

#cards-container {
    display: flex;
}

#events-container .card {
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: .5%;
}

#events-container img {
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-date {
    font-size: 12px;
    color: #b5b5b5;
}

.card .card-title {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card .card-participants {
    font-size: 14px;
    color: #757575;
}

/* EVENT PAGE */
#image-container,
#info-container {
    margin-top: 30px;
}

#image-container img {
    border-radius: 10px;
}

#info-container h1 {
    font-size: 36px;
    font-weight: 900;
}

#info-container p {
    margin: 0;
    font-size: 14px;
    display: flex;
}

#info-container h3,
#description-container h3 {
    font-size: 20px;
    font-weight: bold;
}

#info-container ion-icon {
    font-size: 20px;
    color: #f2a340;
    margin-right: 5px;
}

#info-container #event-submit {
    margin: 20px 0;
}

#items-list {
    list-style: none;
    padding-left: 0;
}

#items-list li {
    display: flex;
}

/* DASHBOARD */
.dashboard-title-container {
    margin-bottom: 30px;
    margin-top: 30px;
}

.dashboard-events-container th {
    width: 25%;
}

.dashboard-events-container form {
    display: inline-block;
}

img.img-preview {
    width: 200px;
    margin-top: 20px;
}

#info-container .already-joined-msg {
    background-color: #cce5ff;
    border: 1px solid #b8daff;
    color: #004085;
    margin: 15px 0;
    padding: 10px;
    width: 275px;
}

/* FOOTER */
footer {
    text-align: center;
    background-color: #353e48;
    color: #fff;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
